.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--MainBlack);
    height: 50px;
    color:var(--MainFont);    
}
.nav-logo{
    margin-left: 25px;
}
.nav-items li{
    margin-right: 25px;
    list-style: none;
}
.nav_link{
    text-decoration: none;
    color: var(--FontColour);
    font-size:1.3rem;
    text-transform:capitalize;
}
@media (max-width:769px){
    .main-nav{
        justify-content: space-between;    
        height: 55px;
    }
    .nav-logo{
        margin-left: 15px;
    }
    .nav-items li{
        list-style: none;
        margin-right: 15px;
    }
}