
@media only screen and (min-width: 374px) {
    .main-cont{
        margin: 3px 0 0 0;    
        background-color: var(--MainWhite);
    }
    .image-container{
        height:165px;
        max-height: 165px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 1px 1px rgba(0,0,0,0.06), 0 1px 1px rgba(0,0,0,0.03);    
    }
    .image{
        max-width: 150px;
        max-height: 165px;
    }
    .item_desc{
        display: flex;
        margin: 4px 5px 0 2px;
        justify-content: space-between;
    }
    .item-name p{
        margin: 1px;
        padding: 0;
        text-align: left;
    }
    .button-class button{
        padding: 2px;
        margin: 2px 4px 0 0;
        max-height: 20px;
        background-color: var(--MainButton);
        color: var(--MainFont);
    }
}

@media only screen and (min-width: 768px) {
    .main-cont{
        margin: 15px;  
        max-height: 275px;
        max-width: 200px;
        background-color: var(--MainWhite);
    }
    .image-container{
        height:200px;
        max-height: 175px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image{
        max-width: 160px;
        max-height: 165px;
    }
    .item_desc{
        display: flex;
        margin: 18px 0 0 4px;
        justify-content: space-between;
    }
    .item-name p{
        margin: 3px;
        padding: 0;
        text-align: left;
    }
    .button-class button{
        padding: 1px 4px;
        margin: 6px 9px 0 0;
        max-height: 20px;
        background-color: var(--MainButton);
        color: var(--MainFont);
    }
    
    }