.main-cont{
    margin: 0% 2%;  
    height: 90%;
    width: 80%;
    background-color: var(--body);
    box-shadow: 2px 3px 2px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);    

}
.image-container{
    height:80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    max-width: 70%;
    height: 100%;
}
.item_desc{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:var(--text);
    padding: 4% 4% 0 4%;
}
.item-name p{
    margin: 0px;
    padding: 0;
    text-align: left;
}
.button-class button{
    padding: 2px;
    margin: 0;
    max-height: 20px;
    background-color: var(--dark);
    color: var(--body);
    }
