.main_signup_div{
    height: 100%;
    width: 100%;
    margin: 0;
}
.form_container{
    position: absolute;
    top:8%;
    left:50%;
    transform: translateX(-50%);
    padding: 0 10%;
    width: 60%;
    height: 90%;

}
.form_div{
    height: 83%;
    width: 80%;

}
.form_div>div{
    margin:3% 0;
}
input{
    margin-top:2%;
    content: '\A'; 
    display: block;
    width: 60%;
    transform: scaleY(160%);
}
.form_div>button{
    background-color: var(--dark);
    color: var(--body);
    padding: 1%;
}