:root {
  --MainBlack: #4E5656;
  --MainFont : #f1faee;
  --MainButton: #26408B;
  --MainBorder:#0F084B;
  --MainWhite:#FFFFFF;
}

.App {
  text-align: center;
}
body {
  background-color: var(--MainFont);
  font-family: "Oswald", sans-serif !important;
  color: var(--MainBlack) !important;
}
.text-title {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}